name: Gradle Check

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Set up Gradle
      uses: gradle/gradle-build-action@v2
    - name: Gradle Check
      run: ./gradlew check

